.job-headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    margin-bottom: 8px;
}

.job-headers h1 {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    color: #5CA5A5;
}

@media (min-width: 1440px) {
    .job-headers h1 {
        font-size: 18px;
    }
}