.job-highlights {
    display: flex;
    margin-left: 30px;
}

.job-highlights span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    padding: 5px 8px;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.new-tag {
    background-color: #5CA5A5;
}

.featured-tag {
    background-color: #2B3939;
}