.job-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89px;
}

.job-info h2 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

@media (min-width: 1440px) {
    .job-info h2 {
        font-size: 22px;
    }
}