.job-card {
    width: 327px;
    height: 257px;
    background-color: white;
    list-style: none;
    margin: 10px 0;
}

@media (min-width: 1440px) {
    .job-card {
        width: 1110px;
        height: 152px;
    }
}