.job-details {
    display: flex;
    flex-direction: row;
}

.job-details p {
    display: inline-block;
    margin: 0;
    color: #7C8F8F;
    font-size: 18px;
    font-weight: 500;
}

.job-details p::before {
    content: "•";
    margin: 0 20px;
}

.job-details p:first-child::before {
    content: none;
}