.jobs-list {
    width: 88%;
    align-self: center;
    margin-top: 56px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

@media (min-width: 1440px) {
    .jobs-list {
        width: 77%;
        margin-top: 76px;
    }
}