.company-logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: -24px;
}

@media (min-width: 1440px) {
    .company-logo {
        position: unset;
        width: 88px;
        height: 88px;
        margin-right: 24px;
    }
}